# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Expo / React Native
# =========================
.expo/
dist/
web-build/
expo-env.d.ts

# =========================
# Python / Backend
# =========================
venv/
env/
ENV/
backend/venv/

__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env*.local

# =========================
# ML Models (VERY IMPORTANT)
# =========================
*.keras
*.h5
*.pkl
*.joblib

# =========================
# TensorFlow / PyTorch junk
# =========================
*.pb
*.tflite

# =========================
# Native / Mobile
# =========================
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS / Android builds
/ios
/android

# =========================
# Logs / Debug
# =========================
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Security / keys
# =========================
*.pem

# =========================
# Extra project folders
# =========================
example/